body {
	background-color: #109653;
}

::-webkit-scrollbar, ::-moz-scrollbar {
	width: 2px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.container-fluid {
	border: 1px solid black;
}

#main-menu .container-fluid {
	padding: 0px;
}

.navbar {
	margin: 0px;
}

.navbar-default {
	background-color: #04703a;
	border: 0px;
	border-radius: 0px;
	padding: 5px 10px;
}

.container-fluid {
	border: 0px;
	padding: 0px 10px;
}

#main-menu {
}

#main-menu .navbar-brand {
	padding: 5px 15px;
}

#main-menu .btn-group a.btn {
	background: linear-gradient(to bottom,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%);
	font-size: 20px;
	color: black;
	margin-left: 5px;
}

#action-menu .navbar-brand {
	color: white;
	padding: 5px 15px;
	height: auto;
	line-height: normal;
}

#action-menu {
	background-color: #078c49;
	padding: 5px;
}

#action-menu li>a {
	padding: 5px 10px;
}

.kb-col {
	border: 1px solid #eee;
/* 	width: 19.5%; */
	list-style-type: none;
	padding: 5px 0 0 0;
	float: left;
	margin: 20px 0px;
	margin-left: .4%;
	background-color: #E2E4E6;
	border-radius: 3px;
}

@media (min-width: 768px){
    .kb-col {
        width: 19.5%;
    }
}
@media (min-width: 1200px) {
    .kb-col {
        width: 19.5%;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .kb-col {
        width: 19.5%;
    }
}
@media (max-width: 510px) {
    .kb-col {
        width: 100%;
    }
}

.kb-col .kb-col-header {
	padding: 0px 5px;
	padding-bottom: 10px;
	color: white;
	font-weight: bold;
}

.kb-col .kb-col-header strong {
	font-size: 20px !important;
}

.kb-col .kb-col-header .glyphicon {
	vertical-align: middle;
	float: right;
	padding: 5px;
	font-size: 10px;
}

.kb-col .kb-col-body {
	list-style: none;
	padding: 0px;
	min-height: 10px;
	max-height: 350px;
	overflow: auto;
}

.kb-col .kb-col-body .kb-item {
	margin: 0 5px 5px 5px;
	padding: 5px;
	font-size: 1.2em;
	background-color: #ffcc01;
	color: white;
	border-radius: 2px;
	box-shadow: 0px 1px 2px #999999;
	cursor: pointer;
}

.kb-col .kb-col-body .kb-item:hover {
	background-color: #e2b606;
}

.kb-col .kb-col-footer {
	padding: 5px;
	color: #999999;
}

.kb-col .kb-col-footer:hover {
	color: black;
	text-decoration: underline;
	cursor: pointer;
	background-color: #CDD2D4;
}

.kb-item {
	font-size: 1em;
}

.kb-item .kb-item-title h4 {
	font-size: 15px !important;
	font-weight: bold !important;
	margin-top: 0px !important;
}

.kb-item .kb-item-detail .progress {
	height: 15px;
	margin-bottom: 5px;
}

.kb-item .kb-item-detail .progress .progress-bar {
	color: white;
	font-size: .6em;
	line-height: 15px;
}

.kb-item .kb-item-detail .badges ul {
	padding: 0px;
	list-style: none;
}

.kb-item .kb-item-detail .badges ul > li {
	display: inline-block;
	font-size: 10px;
	background-color: #EC9488;
	border-radius: 2px;
	padding: 2px 3px;
}

.ui-state-highlight {
	background-color: #CDD2D4 !important;
	box-shadow: inset 0px 0px 2px #999999 !important;
	margin: 5px;
	border-radius: 2px;
}

.clear {
	clear: both;
}

#task-detail-modal .modal-dialog {
/* 	width: 800px; */
}

#task-detail-modal #task-details {
	padding-left: 0px;
}

#task-details .badges ul {
	list-style: none;
	border: 1px solid red;
}

#task-details .badges ul li {
	margin: 0px auto;
	display: inline-block;
	padding: 0px 10px;
	border-right: 1px solid black;
}

#task-details .check-list-boby {
	list-style: none;
	padding: 0px;
}

#task-details .check-list-boby .check-list-item {
	
}

.activities .activity-list {
	list-style: none;
	max-height: 300px;
	overflow: auto;
}

.activities .activity-list .activity-item {
	border-left: 2px dashed black;
	padding: 0px 5px;
	margin-bottom: 10px;
}

.activities .activity-list .activity-item .avatar {
	width: 30px;
	height: 30px;
	margin-left: -30px;
	float: left;
}

.activities .activity-list .activity-item .activity-desc {
	float: left;
	font-weight: bold;
}

.activities .activity-list .activity-item .activity-content {
	margin-top: -8px;
}

.activities .activity-list .activity-item .activity-actions {
	font-size: 10px;
	margin-top: 5px;
	border-bottom: 1px solid gray;
}


#task-detail-modal #task-actions-bar {
	border-left: 2px dashed black;
}


#task-detail-modal #task-actions-bar button {
	margin-bottom: 5px;
}








